:root {
	--font: 'Roboto', sans-serif;
	--color-accent: #a18a68;
	--color-black: #000000;
	--color-black-hover: #1a1717;
	--color-white: #d8d8d8;
	--color-grey: #707070;
	--color-white-light: #ffffff;
}

h1, button {
	padding: 0; 
	margin: 0;
	border: none;
	background: none
}

body {
	font-family: var(--font)
}

